body{
    background-color: rgb(222, 216, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 500ch;
}

html {
    scroll-behavior:smooth;
}

h1{
    text-align: center;
    color: black;
    font-size: 8ch;
}

a{
    color: white;
    font-size: 2ch;
    text-align: center;
    display: block;
}

h2, h3, h4{
    text-align: center;
    margin-top: 10ch;
    font-size: 40px;
}

#navbar{
    background-color: black;
    position:sticky;
    width: 100%; 
    transition: top 0.3s;
    
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
  }

#navbar a:hover {
    background-color: white;
    color: black;
}

p{
    text-align: center;
}

img{
    text-align: center;
    width: 600px;
    height :800px;
}

 
